.style-17{
    $color-1: #a83332;
    $color-2: #fff;
    $color-3: #636363;

    // font-family: "font-17", sans-serif;
    .alphabet{
        margin: 0;
        padding: 0;
        li{
            display: block;
            float: left;
            margin: 0 10px 10px 0;
            a{
                display: block;
                background-color: #e5e5e5;
                width: 36px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                color: #000;
                text-decoration: none;
            }
        }
        .disable{
            cursor: not-allowed;
            a{
                background-color: #f9f9f9;
                pointer-events: none;
            }
        }
    }
    .clr{
        clear: both;
    }
    .letters{
        margin: 60px 0 0 0;
        padding: 0;
        list-style: none;
        .li-letters{
            position: relative;
            .item-let{
                margin: 30px 0;
                padding: 7px 15px;
                background-color: #f0f0f0;
                border-radius: 3px;
                border-left: solid 2px #a83332;
                h4{
                    font-size: 1.209rem;
                    margin-bottom: .2rem;
                    float: left;
                }
                .to-top{
                    font-size: .85rem;
                    color: #242424;
                    float: right;
                    line-height: 26px;
                    text-decoration: none;
                }
            }
            &::before{
                content: "●";
                position: absolute;
                left: -20px;
                top: -10px;
                color: #636363;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    padding: 10px 0;
                    a{
                        text-decoration: none;
                        color: #636363;
                        transition: all .5s;
                        &::after{
                            content: "»";
                            margin-left: 5px;
                        }
                    }
                    &:hover{
                        a{
                            color: #a83332;
                        }
                    }
                }
            }
        }
    }
    .pagination{
        text-align: center;
        background-color: #f7f7f7;
        padding: .4rem 1rem;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
        margin-top: 1.3rem;
        border-radius: .15rem;
        .pull-left, .pull-right{
            line-height: 34px;
            a{
                cursor: pointer;
                display: inline-block;
                color: $color-1;
                text-decoration: none;
                font-size: .83rem;
                line-height: 1.65rem;
                white-space: nowrap;
            }
        }
        .pull-left{
            float: left;
            display: none;
        }
        .pull-right{
            float: right;
        }
    }
}
// @font-face {
//     font-family: "font-17";
//     src: url('./font/RobotoSlab-Light.ttf')format('truetype');
// }